.Rproj.user
.Rhistory
.RData
*~
*.jpeg
*.fa
*.fai
*.ebwt
*.genome
*.csv
*.DS_Store
analysis/*
*.pdf
*.Rd
genome/mm9/property.txt
genome/hg18/property.txt
genome/hg18/test/*
genome/hg18/hg18_refseq_knowngenes.txt
genome/mm9/mm9_refseq_knowngenes.txt
genome/hg18/cytoBand.txt
genome/mm9/cytoBand.txt
genome/hg18/refGene.txt
genome/mm9/refGene.txt

*.sam


*.gz

scripts/R/test.R
scripts/shiny/mds/PEO1-RPT-corrUp-coverage.tsv
scripts/shiny/mds/PEO1-RPT-top200-coverage.tsv
scripts/shiny/mds/PEO1-RPT-corrDown-coverage.tsv
SessionDesktop.el
